.main_play{
    flex: 1;
    background: url("../Assets/landingBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* justify-content: space-around; */
}

.main_play_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.user{
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    height: 70vh;
    width: 30vw;
}
.score_card_main{
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    height: 7vh;
    width: 81vw;
    display: flex;
    justify-content: center;
}
.score_card_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.score_card_main > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.user_selections{
    display: flex;
    justify-content: end;
    flex-direction: column;
    flex: 0.4 1;
    height: 100%;
    align-items: flex-end;
    width: 350px;
    /* position: absolute; */
    flex: 1;
    right: -104px;
    bottom: 0;
    margin-top: -49px;
}

.user_left{    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.play_area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.each_selection{
    height: 40px;
    width: 62%;
    background-color: #ffffffb0;
    border-radius: 50px;
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-right: 10px;
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
}
.each_selection:hover{
    background: #9b9b9b;
    color: white;
}
.each_selection.selected{
    background: #9b9b9b;
    color: white;
}
.play_area_img{
    object-fit: contain;
    max-height: 100%;
    min-height: 82%;
    
    
}
.modal_info .ant-modal-content{
    background-color: #eef4fa85  !important;
}

.game_data{
   background: #f3f3f3;
    height: 18px;
    width: 113px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.total_play{
    background: url("../Assets/landingBackground.png");
    gap: 0 !important;
}