@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.playerHeader{
    font-family: 'Aclonica', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 34px;
}
.user_username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    align-items: center;
    font-weight: bold;
    font-family: 'Bruno Ace SC', cursive;
}
.count_div{
    font-size: 120px;
}